#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define RAISE   1
#define LOWER   2

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // Commented layout is not actual layout.
            // -------------------------------------------------------------------------------------------------------------------------
            // |   ESC   |    1    |    2    |    3    |    4    |    5    |                   |    6    |    7    |    8    |    9    |    0    |  BSPC   |
            // |   TAB   |    Q    |    W    |    E    |    R    |    T    |                   |    Y    |    U    |    I    |    O    |    P    |    \    |
            // |  LALT   |    A    |    S    |    D    |    F    |    G    |                   |    H    |    J    |    K    |    L    |    ;    |    '    |
            // |  LCTRL  |    Z    |    X    |    C    |    V    |    B    |                   |    N    |    M    |    ,    |    .    |    /    |  RALT   |
            //                     |    [    |    ]    |                                                           |    -    |    =    |
            //                               | MO lay 1| SPACE   |                   | ENTER   | MO lay 2|
            //                                         |   TAB   |   HOME  |   END   |   DEL   |
            //                                         |  Raise  |    ~    |   GUI   |  Lower  |

            bindings = <
   &kp ESC  &kp N1        &kp N2     &kp N3  &kp N4        &kp N5                              &kp N6  &kp N7     &kp N8           &kp N9         &kp N0  &kp PRINTSCREEN
 &kp GRAVE   &kp Q         &kp W      &kp E   &kp R         &kp T                               &kp Y   &kp U      &kp I            &kp O          &kp P         &kp BSLH
   &kp TAB   &kp A         &kp S      &kp D   &kp F         &kp G                               &kp H   &kp J      &kp K            &kp L  &kp SEMICOLON          &kp SQT
 &kp LCTRL   &kp Z         &kp X      &kp C   &kp V         &kp B                               &kp N   &kp M  &kp COMMA          &kp DOT       &kp FSLH        &kp MINUS
                    &kp LEFT_GUI  &kp LCTRL                                                                    &kp RCTRL  &kp RIGHT_SHIFT
                                              &mo 1     &kp SPACE                           &kp ENTER   &mo 2
                                                     &kp LEFT_ALT     &kp LSHIFT  &kp BSPC  &kp PG_UP
                                                     &kp LEFT_GUI  &kp LA(SPACE)   &kp DEL  &kp PG_DN
            >;
        };

        raise {
            // commented layout is not actual layout.
            // -------------------------------------------------------------------------------------------------------------------------
            // |   esc   |    1    |    2    |    3    |    4    |    5    |                   |    6    |    7    |    8    |    9    |    0    |  bspc   |
            // |   tab   |    q    |    w    |    e    |    r    |    t    |                   |    y    |    u    |    i    |    o    |    p    |    \    |
            // |  lalt   |    a    |    s    |    d    |    f    |    g    |                   |    h    |    j    |    k    |    l    |    ;    |    '    |
            // |  lctrl  |    z    |    x    |    c    |    v    |    b    |                   |    n    |    m    |    ,    |    .    |    /    |  ralt   |
            //                     |    [    |    ]    |                                                           |    -    |    =    |
            //                               | mo lay 1| space   |                   | enter   | mo lay 2|
            //                                         |   tab   |   home  |   end   |   del   |
            //                                         |  raise  |    ~    |   gui   |  lower  |

            bindings = <
 &bt BT_SEL 0        &kp F1        &kp F2        &kp F3        &kp F4        &kp F5                             &kp F6           &kp F7            &kp F8             &kp F9    &kp F10    &kp F11
   &bt BT_NXT      &kp EXCL        &kp AT      &kp HASH    &kp DOLLAR   &kp PERCENT                          &kp CARET    &kp AMPERSAND      &kp ASTERISK          &kp MINUS   &kp PLUS    &kp F12
   &bt BT_PRV  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                           &kp LPAR         &kp RPAR  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp MINUS   &kp PIPE
   &bt BT_CLR  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0                     &kp LEFT_BRACE  &kp RIGHT_BRACE     &kp LESS_THAN   &kp GREATER_THAN   &kp FSLH  &kp UNDER
                                    &none     &kp PSCRN                                                                                             &none              &none
                                                                &none         &none                              &none            &mo 3
                                                                              &none   &none  &kp UNDER       &kp EQUAL
                                                                        &bootloader   &none   &kp PIPE       &kp TILDE
            >;
        };

        lower {
            // commented layout is not actual layout.
            // -------------------------------------------------------------------------------------------------------------------------
            // |   esc   |    1    |    2    |    3    |    4    |    5    |                   |    6    |    7    |    8    |    9    |    0    |  bspc   |
            // |   tab   |    q    |    w    |    e    |    r    |    t    |                   |    y    |    u    |    i    |    o    |    p    |    \    |
            // |  lalt   |    a    |    s    |    d    |    f    |    g    |                   |    h    |    j    |    k    |    l    |    ;    |    '    |
            // |  lctrl  |    z    |    x    |    c    |    v    |    b    |                   |    n    |    m    |    ,    |    .    |    /    |  ralt   |
            //                     |    [    |    ]    |                                                           |    -    |    =    |
            //                               | mo lay 1| space   |                   | enter   | mo lay 2|
            //                                         |   tab   |   home  |   end   |   del   |
            //                                         |  raise  |    ~    |   gui   |  lower  |

            bindings = <
 &kp GRAVE    &kp F1      &kp F2    &kp F3      &kp F4        &kp F5                       &kp F6    &kp F7    &kp F8  &kp F9    &kp F10  &kp F11
     &none     &none  &kp K_PREV  &kp K_PP  &kp K_NEXT  &kp C_VOL_UP                        &none     &none     &none   &none      &none  &kp F12
     &none  &kp LEFT      &kp UP  &kp DOWN   &kp RIGHT  &kp C_VOL_DN                        &none  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT    &none
     &none     &none       &none     &none       &none    &kp C_MUTE                        &none     &none     &none   &none      &none    &none
                           &none     &none                                                                      &none   &none
                                                 &none         &none                        &none     &none
                                                               &none   &none   &none        &none
                                                               &none   &none   &none  &bootloader
            >;
        };

        DOUBLE {
            bindings = <
  &none   &none   &none   &none   &none   &none                              &none      &none   &none   &none   &none   &none
  &none   &none   &none   &none   &none   &none                  &kp DOUBLE_QUOTES   &kp APOS   &none   &none   &none   &none
  &none   &none   &none   &none   &none   &none                          &kp EQUAL  &kp COLON   &none   &none   &none   &none
  &none   &none   &none   &none   &none   &none                          &kp TILDE  &kp QMARK   &none   &none   &none   &none
                  &none   &none                                                                 &none   &none
                                  &none   &none                              &none      &none
                                          &none   &none   &none              &none
                                          &none   &none   &none              &none
            >;
        };
    };
};
